





            @using System.Collections.Generic;

<h1>Grocery Store</h1>

@code{
    public List<GroceryAisle> groceryAisles = new List<GroceryAisle>{
        new GroceryAisle(){
            id = 1,
            name = "Frozen Food",
            items = new List<FoodItem>{
                new FoodItem(){
                    //property 1,
                    //property 2,
                    //property 3,
                    //property 4
                },
                new FoodItem(){
                    //property 1,
                    //property 2,
                    //property 3,
                    //property 4
                }
            }
        },
        new GroceryAisle(){
            id = 2,
            name = "Canned Food",
            items = new List<FoodItem>{
                new FoodItem(){
                    //property 1,
                    //property 2,
                    //property 3,
                    //property 4
                },
                new FoodItem(){
                    //property 1,
                    //property 2,
                    //property 3,
                    //property 4
                }
            }
        },
        new GroceryAisle(){
            id = 3,
            name = "Dry Food",
            items = new List<FoodItem>{
                new FoodItem(){
                    //property 1,
                    //property 2,
                    //property 3,
                    //property 4
                },
                new FoodItem(){
                    //property 1,
                    //property 2,
                    //property 3,
                    //property 4
                }
            }
        },
    };
}

           
    


 





        
